.header {
    width: 95%;
    height: 50px;
    background-color: #fff;
    color: #333;
    padding: 10px;
    text-align: center;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 10px;
}

.logo img {
    width: 300px; /* Увеличено на 500% */
    height: 300px; /* Увеличено на 500% */
    object-fit: contain;
}

.portal-name {
    font-size: 22px;
    margin: 0;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
    flex-grow: 1;
}

.item {
    margin: 8px;
    width: calc(100% - 16px); /* Один элемент в строке для мобильных */
    height: 400px; /* Увеличено на 500% */
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    flex-grow: 1;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.item:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.item img {
    width: 50px; /* Увеличено с 36px до 50px */
    height: 50px; /* Увеличено с 36px до 50px */
    border-radius: 1%;
}

.item h3 {
    font-size: 120px; /* Увеличено на 500% */
    margin-top: 4px;
}

.item p {
    font-size: 80px; /* Увеличено на 500% */
    color: #666;
}

.item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .item {
        flex-basis: calc(50% - 16px); /* Два элемента в строке */
        margin: 4px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .item {
        flex-basis: 33.33%;
        margin: 8px;
    }
}

@media (min-width: 1025px) {
    .item {
        flex-basis: 25%;
        margin: 16px;
    }
}

@media (min-width: 1200px) {
    .item {
        flex-basis: 20%;
        margin: 24px;
    }
}

@media (min-width: 1600px) {
    .item {
        flex-basis: 16.67%;
        margin: 32px;
    }
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Regular.woff') format('woff'),
         url('../fonts/RobotoCondensed-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
         url('../fonts/RobotoCondensed-Bold.woff') format('woff'),
         url('../fonts/RobotoCondensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
}

.radio-player {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.radio-player audio {
    width: 100%;
    margin-bottom: 20px;
}

.stations {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.station-button {
    padding: 100px 200px; /* Увеличено на 500% */
    font-size: 100px; /* Увеличено на 500% */
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.station-button:hover {
    background-color: #3e8e41;
}

.station-button.active {
    background-color: #2ecc71;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

a {
    text-decoration: none;
    color: inherit;
}
